@import url("./build/css/_variables.css");

body {
  font-size: var(--global-font-md);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app_navigation {
  padding: 10px 15px;
  background-color: var(--global-colors-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navlinks ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

.navlinks ul li {
  text-transform: capitalize;
  font-size: var(--global-font-md);
}

.app_wrapper {
  /* background-color: var(--global-colors-app-bg); */
  color: var(--global-colors-red);
  grid-template-columns: repeat(var(--global-grid-columns), var(--global-grid-columns-size));
  height: auto;
  padding: 15px;
  display: grid;
  gap: 10% 2%;
  justify-content: space-evenly;
  grid-auto-flow: row;
}

.app_wrapper div {
  height: 50px;
  border: 2px solid #d3d3d3;
  border-radius: 5px;
}
